* {
    font-family: "Century Gothic", Arial, Helvetica, sans-serif;
}
html{
	margin: 0;
	overflow: hidden;
}
body, .choices, .choice, .scores, .res-container {
    display: flex;
}
body {
    background-color: rgb(230, 230, 230);
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
	gap: 3vh;
	overflow: auto;
}

/* TEXTS */

.visuals, .playerScore, .computerScore {
	margin: 0;
}
.visuals{
    justify-content: center;
    text-align: center;
	font-size: calc(0.9rem + 1.5vw);
	font-weight: bold;
}
.scores{
	justify-content: center;
	gap: 5vh;
	font-size: calc(0.6rem + 1.5vw);
}

.win{
	color: rgb(0, 187, 0);
}

.lose{
	color: rgb(168, 34, 0);
}

/* CHOICES */
.choices, .choice{
    align-items: center;
}
.choices {
    justify-content: center;
	gap: 3vh;
	flex-wrap: wrap;
}

.choice{
    font-size: calc(0.5rem + 1vw);
	font-weight: bold;
    padding: 2vh;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 0;
    border-radius: 25px;
    transition: 0.15s ease-in-out;
}
.choice:hover{
    transform: scale(1.1);
    transition: 0.15s ease-in-out;
}
.img{
	height: 15vh;
    margin-bottom: 2vh;
}
.res-container{
	justify-content: center;
	margin: 1vh;
	display: none;
}
.restart{
	border: 0;
	background: none;
	transition: 0.15s ease-in-out;
}
.restart:hover{
	transform: scale(1.1);
	transition: 0.15s ease-in-out;
}
.res-img{
	height: 5vh;
}
